:root {
    --teal: #00c6c2;
    --midnight: #052831;
    --putty: #fdf7ea;
    --white: #ffffff;
}

/* Example tab styling */

.tab-list {
    display: flex;
    gap: 0.5rem;
}

.tab {
    display: flex;
    height: 2.5rem;
    user-select: none;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    border-radius: 0.25rem;
    border-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration-line: none;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(--teal);
}

.tab:hover {
    background-color: rgb(0 0 0 / 7.5%);
}

.tab[aria-disabled="true"] {
    opacity: 0.5;
}

.tab[aria-selected="true"] {
    background-color: var(--teal);
    color: white;
}

.tab:hover[aria-selected="true"] {
    /* TODO: Should be a lighter version of our primary color teal */
    background-color: var(--teal);
}

.tab[data-focus-visible] {
    outline-style: solid;
}

.tab:active,
.tab[data-active] {
    padding-top: 0.125rem;
}

.panels {
    padding: 0.5rem;
}

/* Example dialog styling */

.dialog {
    position: fixed;
    inset: var(--inset);
    z-index: 50;
    margin: auto;
    display: flex;
    height: fit-content;
    max-height: calc(100dvh - var(--inset) * 2);
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    border-radius: 0.75rem;
    background-color: white;
    padding: 1rem;
    color: black;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --inset: 0.75rem;
}

@media (min-width: 640px) {
    .dialog {
        top: 10vh;
        bottom: 10vh;
        margin-top: 0px;
        max-height: 80vh;
        width: 420px;
        border-radius: 1rem;
        padding: 1.5rem;
    }
}

